# -----------------------------
# FRONTEND
# -----------------------------
VITE_API1_URL=http://localhost:5001
VITE_API2_URL=http://localhost:5002


# -----------------------------
# API 1 - Bench Service
# -----------------------------
API1_PORT=5001

API1_DB_NAME=benchdb
API1_DB_USER=benchuser
API1_DB_PASSWORD=benchpass
API1_DB_HOST=db1
API1_DB_PORT=5432


# -----------------------------
# API 2 - Discussion Service
# -----------------------------
API2_PORT=5002

API2_DB_NAME=discussiondb
API2_DB_USER=discussionuser
API2_DB_PASSWORD=discussionpass
API2_DB_HOST=db2
API2_DB_PORT=5432

# -----------------------------
# API 3 - User Service
# -----------------------------

API3_PORT=5003
API3_DB_NAME=userdb
API3_DB_USER=userapi
API3_DB_PASSWORD=userpass
API3_DB_HOST=localhost
API3_DB_PORT=5432
JWT_SECRET=super_secret_dev_key
VITE_API3_URL=http://localhost:5003

# -----------------------------
# API 4 - Message Service
# -----------------------------

API4_PORT=5004
API4_DB_NAME=messagedb
API4_DB_USER=messageapi
API4_DB_PASSWORD=messagepass
API4_DB_HOST=localhost
API4_DB_PORT=5432
VITE_API4_URL=http://localhost:5004


# -----------------------------
# POSTGRES DEFAULT
# -----------------------------
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

